body {
  font-family: $secondary-font;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: $gray;
}

.overflow_hidden {
  overflow: hidden;
}

.kaushan_script {
  font-family: $decoration-font;
  font-weight: 400;
  margin-bottom: 23px;
  text-transform: none;
  color: $dark-gray;
  text-align: center;
  font-size: 24px;
}

h1,
h2,
h3 {
  font-family: $main-font;
  text-transform: uppercase;
  color: $dark-gray;
  font-weight: 700;
  text-align: center;
  line-height: normal;
}

h3 {
  font-size: 14px;
  margin-bottom: 20px;
}

section {
  padding: 20px 0 30px;
  @include query(lg) {
    padding: 60px 0 70px;
  }
}

.heading_underline {
  margin: 23px 0;
  padding: 0 0 40px 0;
  position: relative;
  font-size: 30px;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: transparent;
    border-bottom: 3px solid $red;
    min-width: 60px;
  }
}

.descr_wrap {
  max-width: 954px;
  margin: 0 auto 47px;
}

.img_res {
  width: 100%;
  height: auto;
}

.link_page{
  font-size: 20px;
  color: $dark-gray;
  &:hover{
    color: $dark-gray;
  }
}

a {
  font-family: $main-font;
  color: $white;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

button {
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: 0;

  &:focus,
  &:focus-visible,
  &:focus-within,
  &:active {
    box-shadow: none;
    outline: none;
    border: none;
  }
}

input {
  font-style: italic;
  color: $light-gray;
  font-weight: 400;
  border-radius: 0;

  &:focus,
  &:focus-visible,
  &:focus-within,
  &:active {
    box-shadow: none;
    outline: none;
  }
}

.close_button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background: $yellow;

    &:nth-child(1) {
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }

    &:nth-child(2) {
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
  }
}