#slider_banner {
  padding: 0;
  margin-top: -90px;

  .swiper-pagination {
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: $main-font;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 11px;
    color: $white;

    >span {
      position: relative;
      flex: 1 0 auto;
      width: 23%;
      margin: 0 1%;
      background: none;
      display: block;
      border-radius: 0;
      height: auto;
      text-align: left;
      font-weight: 700;
      padding-top: 25px;
      opacity: 0.7;

      &:after,
      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: $white
      }

      &:before {
        z-index: 2;
        width: 0;
      }
    }

    .swiper-pagination-bullet-active {
      opacity: 1;

      &:before {
        background-color:  $red;
        animation: widthUp 10s;
      }
    }
  }
}

.banner_item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 700px;

  &:after {
    position: absolute;
    content: '';
    display: block;
    z-index: 0;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba($yellow, 0.9) 0%, rgba($red, 0.9) 100%);
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .kaushan_script {
    color: $white;
    font-size: 32px;
    margin-bottom: 37px;
  }

  h2 {
    max-width: 900px;
    margin: 0 auto;
    display: block;
    position: relative;
    font-size: 44px;
    line-height: 50px;
    margin-bottom: 35px;
    padding-bottom: 35px;
    color: $white;

    &:after {
      position: absolute;
      content: '';
      display: block;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 60px;
      height: 3px;
      background-color: $white;
    }
  }

  a {
    display: block;
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
    border: 3px solid $white;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    transition: color .3s ease, background-color .3s ease;
    
    &:hover {
      color: $yellow;
      background-color: $white;
      transition: background-color .3s ease;
    }
  }
}

@include query(sm) {
  .banner_item .kaushan_script {
    font-size: 50px;
    margin-bottom: 52px;
  }

  .banner_item h2 {
    font-size: 60px;
    line-height: 68px;
  }

  #slider_banner .swiper-pagination {
    font-size: 14px;
  }
}

@include query(md) {
  .banner_item {
    min-height: 1000px;

    .kaushan_script {
      font-size: 62px;
      margin-bottom: 68px;
    }

    h2 {
      font-size: 80px;
      line-height: 88px;
      margin-bottom: 50px;
      padding-bottom: 71px;
    }
  }
}

@include query(lg) {
  .banner_item {
    .kaushan_script {
      font-size: 72px;
      margin-bottom: 42px;
    }

    h2 {
      font-size: 150px;
      line-height: 140px;
    }
  }
}

@keyframes widthUp {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}